<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_DIR">${sys:LOG_DIR:-logs}</Property>
        <Property name="MAX_SIZE">50KB</Property>
        <Property name="APP_PATTERN">${LOG_DIR}/app/archived/app-%d{yyyy-MM-dd_HH-mm}.%i.log.gz</Property>
        <Property name="ERROR_PATTERN">${LOG_DIR}/error/archived/error-%d{yyyy-MM-dd_HH-mm}.%i.log.gz</Property>
        <Property name="AUDIT_PATTERN">${LOG_DIR}/audit/archived/audit-%d{yyyy-MM-dd_HH-mm}.%i.log.gz</Property>
    </Properties>

    <Appenders>
        <RollingFile name="APP_FILE" createOnDemand="true" fileName="${LOG_DIR}/app/app.log" filePattern="${APP_PATTERN}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c - %msg%n" />
            <Policies><SizeBasedTriggeringPolicy size="${MAX_SIZE}" /></Policies>
            <Filters><ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL" /></Filters>
            <DefaultRolloverStrategy fileIndex="min" />
        </RollingFile>

        <RollingFile name="ERROR_FILE" createOnDemand="true" fileName="${LOG_DIR}/error/error.log" filePattern="${ERROR_PATTERN}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c - %msg%n" />
            <Policies><SizeBasedTriggeringPolicy size="${MAX_SIZE}" /></Policies>
            <Filters><ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" /></Filters>
            <DefaultRolloverStrategy fileIndex="min" />
        </RollingFile>

        <RollingFile name="AUDIT_FILE" createOnDemand="true" fileName="${LOG_DIR}/audit/audit.log" filePattern="${AUDIT_PATTERN}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c - %msg%n" />
            <Policies><SizeBasedTriggeringPolicy size="${MAX_SIZE}" /></Policies>
            <DefaultRolloverStrategy fileIndex="min" />
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="audit" level="info" additivity="false">
            <AppenderRef ref="AUDIT_FILE" /><AppenderRef ref="Console" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" /><AppenderRef ref="APP_FILE" /><AppenderRef ref="ERROR_FILE" />
        </Root>
    </Loggers>
</Configuration>